.brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    padding: 20px;

    h2 {
        font-size: 24px;
        position: relative;
        margin: 10px;
        margin-bottom: 0px;
    }

    h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin: 5px auto;
    }

    .separator {
        margin-top: 0px;
        height: 3px;
    }

    .brand-slider {
        width: 100%;
        margin: 10px;
        padding-bottom: 10px;

        .card {
            aspect-ratio: 1;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            background: #fff;
            border: 2px solid grey;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.gallery-category {
    .buy-us > h3{
        font-size: clamp(20px, 5vw, 25px);
    }
    .item-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        margin-bottom: 40px;
        justify-content: center;
        gap: clamp(5px, 3vw, 20px);
        padding: 0px 10px;
    
        img {
            height: clamp(50px, 18vw, 100px);
            flex: 1;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

/* From our blog */
.our-blog{
    max-width: 1600px;
    width: 100%;
    .blog-slider{
        margin: 50px 10px;
        .card {
            margin: 10px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 16/10;
            }
            .date-badge {
                position: absolute;
                background: #002776;
                color: white;
                padding: 5px;
                font-size: 12px;
                border-radius: 4px;
                top: 10px;
                left: 10px;
            }
            .status{
                background-color: #ddddddef;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                gap: 5px;
                width: 100%;
                bottom: 0px;
                position: absolute;
                height: 30px;
            }
            .card-content {
                padding: 15px;
                .card-title {
                    font-weight: bold;
                    margin: 10px 0;
                    font-size: clamp(14px, 1.5vw,18px);;
                }
                .card-text {
                    font-size: clamp(10px, 1.5vw,13px);
                    color: gray;
                    margin-bottom: 10px;
                }
                .read-more {
                    color: grey;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }   
    }
}


/* About us section */
.aboutus-section{
    max-width: 1600px;
    width: 100%;
    .buy-us > h3{
        font-size: clamp(15px, 5vw, 25px);
    }
    .container{
        margin: clamp(20px, 5vw, 50px) 10px;
        width: 100%;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: clamp(10px, 2vw,20px);        
            i{
                font-size: 50px;
                color: orange;
            }
            div{
                padding: clamp(10px, 2vw,20px) 0px;
                color: black;
                font-size: clamp(12px, 2vw, 15px);;
            }
            .from{
                font-size: clamp(10px, 1.5vw,13px);;
                color: gray;
            }
        }
    }
    
}

.most-viewed{
    max-width: 1600px;
    width: 100%;
    padding: 30px 20px;
    .title{
        color: white;
        font-size: 20px;
    }
    .separator{
        width: 135px;
    }
    .container{
        /* width: 100%; */
        margin-top: 20px;
        height: 130px;
        display: flex;
        gap: 25px;
        .card{
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            flex: 1;
            background-color: white;
            img{
                height: 100%;
                aspect-ratio: 1;
                object-fit: cover;
            }
            .column{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: clamp(15px, 1.2vw, 20px);
                gap: 5px;
                padding: 10px;
                .title{
                    width:100px;
                    height: 30%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                span{
                    color: gray;
                }
                div{
                    margin: 10px 0px;
                    display: flex;
                    justify-content: start;
                    gap: clamp(20px, 2vw, 40px);;
                    color: gray;
                }
            }
        }
    }
}

@media (width < 1100px) {
    .most-viewed > .container{
        justify-content: center;
        height: fit-content;
        gap: clamp(10px, 2vw,25px);
        flex-wrap: wrap;
        .card  {
            flex-direction: column;
            width: clamp(110px, 20%, 200px);
            flex: none;
            
        }
        
    }
}

/* Social */
.social{
    padding: 20px;
    gap: 15px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        border-radius: 50%;
        aspect-ratio: 1;
        height: clamp( 40px, 5vw, 50px);
        i{
            font-size: clamp(20px, 2.5vw, 25px);;
            color: white;
            /* align-self: center;
            justify-self: center; */
            /* object-fit: contain; */
        }
    }
}

@media (width < 450px) {
    .social {
        gap: 10px;
        padding: 15px 10px;
        div{
            height: clamp(30px, 10vw ,40px);
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: clamp(10px, 5vw, 20px);
                height: fit-content;
                width: fit-content;
            }
        }
    }
}

/* Footer */
.footer{
    padding: 30px 10px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    .footer-column{
        flex: 1;
        border-left: 2px solid #e0e0e0;
        padding: 0px 10px;
        h3{
            margin: 0px;
        }
        .separator{
            height: 1px;
        }
        ul{
            padding: 0;
            list-style: none;
            li{
                margin: 10px 0px;
                a{
                    text-decoration: none;
                    color: #0c51d7;
                    font-size: 15px;
                }
            }
        }
    }
    .newsletter{
        p{
            font-size: clamp(12px, 1.8vw, 18px);;
            line-height: clamp(15px, 2vw, 25px);;
            color: grey;
        }
        .email{
            /* position: relative; */
            width: 100%;
            display: flex;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            input{
                width: 100%;
                padding: 5px 0px;
                font-size: clamp(12px, 2vw, 15px);;
                padding-left: clamp(10px, 1vw, 15px);;
                border: none;
                outline: none;
                
            }
            button {
                margin: 2px;
                padding: 12px;
                background-color: #103b8f;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 4px;
                display: flex;
                gap: 5px;
                align-content: center;
                justify-content: center;
            }
        }
        
        .checkbox {
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: clamp(10px, 1.5vw, 12px);;
            color: gray;
            input{
                /* width: 20px; */
                color: green;
                border: 2px solid green;
                margin-right: 5px;
            }
            label a{
                color: #0c51d7;
            }
        }
    }
}

@media (width < 900px) {
    .footer{
        flex-wrap: wrap;
        justify-content: start;
        .footer-column{
            flex: 1;
            padding-left: 2%;
            h3{
                font-size: clamp(13px, 2vw, 18px);
            }
            ul > li {
                margin: 5px, 0px;
                a{
                    font-size: clamp(10px, 2.5vw, 15px);
                }
            }
        }
        
        .newsletter{
            border: none;
            flex: none;
            width: fit-content;
        }
    }
}

@media (width < 450px) {
    .footer{
        flex-wrap: nowrap;
        flex-direction: column;
        .footer-column{
            border: none;
            ul{
                li{
                    margin: px
                }
            }
        }
    }
    
}

/* copyright */
.copyright{
    max-width: 1600px;
    width: 100%;
    height: 80px;
    color: #a9a9a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .detail{
        font-size: clamp(10px, 2vw, 15px);
    }
    .payment{
        margin-right: 10px;
        display: flex;
        gap: 15px;
        i{
            color: #a9a9a9;
            font-size: clamp(20px, 2vw, 40px);
        }
    }
}

@media (width < 450px) {
    .copyright{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    
}


.floating{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #002776;
    height: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    justify-content: center;
    i{
        font-size: 25px;
        color: white;
    }
}