.why-us-section {
    width: 100%;
    max-width: 1600px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;

    .container {
        display: flex;

        .icon {
            padding: 20px;
            border: 3px solid #0c50d5;
            border-radius: 50%;
            margin-right: 10px;
        }

        #truch {
            font-size: 25px;
        }

        .fa {
            font-size: 30px;
            color: #e96630;
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                color: white;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .desc {
                color: grey;

            }

        }
    }

}

.buy-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

    h3 {
        color: #323233;
        font-size: 30px;
        margin: 0px;
    }

    .separator {
        width: 50px;
        height: 2px;
        background-color: #e96630;
        margin: 15px 0;
    }

    .content {
        color: #8c9096;
        max-width: 1000px;
        text-align: center;
        font-size: small;
    }
}

.tabBar {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;

    .tab {
        padding: 15px 30px;
        background-color: #efeeef;
        color: #686873;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        border-right: 1px solid #ddd;
        cursor: pointer;
    }

    .tab:last-child {
        border-right: none;
    }

    .active {
        position: relative;
        background-color: #0c50d5;
        color: white;
    }

    /*creates a new div*/
    .active::after {
        content: "";
        position: absolute;
        background-color: #0c50d5;
        height: 20px;
        width: 20px;
        left: 50%;
        margin-left: -10px;
        bottom: -10px;
        transform: rotate(45deg);
    }

}

.carousel {
    max-width: 1600px;
    width: 100%;
    margin-top: 30px;

    .carousel-item {
        position: relative;
        text-align: center;
        margin: 10px;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }

        label {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: white;
            color: black;
            padding: 8px 15px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
}

/* Featured Products */
.carousel-FeaturedItem {
    /* border: 1px solid #8c9096; */
    border-radius: 10px;
    margin: 10px;

    .card {
        border: 1px solid #ddd;
        overflow: hidden;
        background: white;
        position: relative;

        img {
            object-fit: cover;
            height: 300px;
            position: relative;
        }

        .ribbons {
            position: absolute;
            top: 10px;
            left: -60px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transform: rotate(-45deg);

            .ribbon {
                display: flex;
                color: white;
                width: 190px;
                padding: 3px 0px;
                justify-content: center;
            }

            .red-ribbon {
                background-color: red;
            }

            .green-ribbon {
                background-color: green;
            }
        }

        .right-tags {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 5px;
            right: 5px;
            align-items: end;
            gap: 5px;

            .chip {
                width: fit-content;
                padding: 3px 10px;
                color: white;
                font-size: 15px;
            }

            .discount {
                background-color: red;
            }

            .hot {
                background-color: yellow;
                color: black;
            }
        }

        .details1 {
            background-color: #f0f0ff;
            display: flex;
            padding: 13px 10px;
            justify-content: space-between;
            color: grey;

            a {
                color: gray;
            }
        }

        .details2 {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            .title {
                font-weight: 500;
                font-size: 20px;
            }

            .price {
                color: gray;
            }

            .sp {
                font-size: 20px;
            }

            .mrp {
                color: gray;
                text-decoration: line-through;

            }
        }

        .container {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0px 10px;
            justify-content: space-between;

            .group1 {
                display: flex;
                gap: 5px;

                .quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ccc;

                    input {
                        width: 30px;
                        text-align: center;
                        border: none;
                        outline: none;
                    }

                    .quantity-buttons {
                        display: flex;
                        flex-direction: column;

                        button {
                            border: none;
                            background: rgb(225, 225, 225);
                            padding: 2px 5px;
                            cursor: pointer;
                            font-size: 12px;
                        }
                    }
                }

                .add-to-cart {
                    background-color: #004691;
                    color: white;
                    align-self: stretch;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }

            .wishlist-compare {
                display: flex;
                gap: 10px;

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 20px;
                    color: #888;
                }
            }
        }

        .footer-actions {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            background-color: #f0f0ff;
            margin-top: 15px;
            color: gray;
            padding: 10px;

            span {
                font-size: 14px;
                font-weight: 500;

                .fa-bitcoin {
                    color: green;
                    font-size: 15px
                }

                .fa-circle-question {
                    color: red;
                    font-size: 15px
                }
            }

            ;
        }
    }
}



.see-all-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #006ce0;
    border-radius: 3px;
    border: none;
    color: white;
}

/* Featured Category */
.feature-category {
    max-width: 1600px;
    width: 100%;
    padding: 30px 0px;
    margin: 10px;

    .outer-container {
        display: flex;
        background-color: #d7dadf;
        align-content: stretch;
        width: 100%;
        overflow: hidden;

        .fixed {
            display: flex;
            flex-direction: column;
            padding: 20px;
            flex: 0 0 auto;

            span {
                font-size: 17px;
            }

            img {
                object-fit: cover;
                height: 300px;
                aspect-ratio: 1;
                padding: 10px 0px;
            }

            a {
                text-decoration: none;
                color: #686873;
                margin: 5px 0px;
            }

            .line-style {
                color: #004691;
                font-weight: bold;
                text-decoration: underline;

            }
        }

        .carousel-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 100%;
            background-color: white;
            overflow-x: auto;
            flex: 1 1 auto;

            .card>.container {
                margin-bottom: 10px;
                padding: 5px 10px;
            }

            .add-to-cart {
                background-color: #004691;
                color: white;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                padding: 5px 10px;
            }
        }
    }

}