.why-us-section {
    width: 100%;
    max-width: 1600px;
    padding: 2.2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    
    .container {
        display: flex;
        width: 20%;
        min-width: 150px;

        .icon {
            justify-self: center;
            align-self: center;
            padding: clamp(10px, 1.5vw, 25px);
            aspect-ratio: 1;
            border: 3px solid #0c50d5;
            border-radius: 50%;
            margin-right: 10px;
            .fa {
                font-size: clamp(15px, 2vw, 33px);
                color: #e96630;
            }
        }
        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
                font-size: clamp(11px, 1.1vw, 20px);
                color: white;
                font-weight: bold;
                white-space: nowrap;
                width: fit-content;
                margin-bottom: 5px;
            }
            .desc {
                font-size: clamp(10px, 1.0vw, 18px);
                color: grey;
                white-space: nowrap;

            }

        }
    }

}
@media (width < 690px) {
    .why-us-section > .container{
        /* border: 1px solid yellow; */
        width: 40%;
        min-width: 170px;
        .column{
            .title{
                font-size: clamp(10px, 2.5vw, 15px);
            }
            .desc{
                font-size: clamp(10px, 2.5vw, 15px);;
            }
        }
    } 
}
@media (width <= 382px) {
    .why-us-section > .container{
        /* border: 1px solid yellow; */
        width: 40%;
        min-width: 130px;
        .icon{
            display: flex;
            padding: 8px;
            margin-right: 3px;
            align-items: center;
            justify-content: center;
            /* height: 20px; */
            .fa{
                font-size: clamp(10px, 2vw, 15px);
                /* color: red; */
            }
        }
        .column{
            .title, .desc{
                font-size: clamp(8px, 2.5vw, 15px);
            }
        }
    } 
    
}

.buy-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: clamp(0px, 5%, 40px);

    h3 {
        color: #323233;
        font-size: clamp(25px, 2.5vw,30px);
        margin: 0px;
    }

    .separator {
        width: 50px;
        height: 2px;
        background-color: #e96630;
        margin: max(1.5%, 10px) 0;
    }

    .content {
        color: #8c9096;
        max-width: 1000px;
        text-align: center;
        font-size: clamp(10px, 1.5vw,13px);
    }
}

.tabBar {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    .tab {
        padding: clamp(10px, 1.4vw ,15px) clamp(15px, 1.4vw ,30px);
        background-color: #efeeef;
        color: #686873;
        font-weight: bold;
        font-size: clamp(10px, 1.5vw ,15px);
        text-align: center;
        border-right: 1px solid #ddd;
        cursor: pointer;
    }

    .tab:last-child {
        border-right: none;
    }

    .active {
        position: relative;
        background-color: #0c50d5;
        color: white;
    }

    /*creates a new div*/
    .active::after {
        content: "";
        position: absolute;
        background-color: #0c50d5;
        height: clamp(10px, 3vw ,20px);
        width: clamp(10px, 3vw ,20px);
        left: 50%;
        margin-left: -10px;
        bottom: -7px;
        transform: rotate(45deg);
    }

}
@media (width < 450px) {
    .tab{
        width: 30%;
    }
    .tabBar > .active::after{
        height: 10px;
        width: 10px;
        bottom: -5px;
        /* margin; */
    }
}

.carousel {
    max-width: 1600px;
    width: 100%;
    margin-top: 30px;

    .carousel-item {
        position: relative;
        text-align: center;
        margin: 10px;

        img {
            width: 100%;
            height: clamp(200px, 30vw, 400px);
            object-fit: cover;
            border-radius: 10px;
        }

        label {
            position: absolute;
            bottom: 15px;
            left: 50%;
            white-space: nowrap;
            transform: translateX(-50%);
            background: white;
            color: black;
            padding: 8px 15px;
            border-radius: 5px;
            font-size: 14px;
            display: flex;
        }
    }
}

/* Featured Products */
.carousel-FeaturedItem {
    /* border: 1px solid #8c9096; */
    border-radius: 10px;
    margin: 10px;

    .card {
        border: 1px solid #ddd;
        overflow: hidden;
        background: white;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
            position: relative;
        }

        .ribbons {
            position: absolute;
            top: 10px;
            left: -60px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transform: rotate(-45deg);

            .ribbon {
                display: flex;
                color: white;
                width: 190px;
                padding: 3px 0px;
                justify-content: center;
            }

            .red-ribbon {
                background-color: red;
            }

            .green-ribbon {
                background-color: green;
            }
        }

        .right-tags {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 5px;
            right: 5px;
            align-items: end;
            gap: 5px;
            .chip {
                width: fit-content;
                padding: 3px 10px;
                color: white;
                font-size: clamp(13px, 1.5vw 15px);
            }

            .discount {
                background-color: red;
            }

            .hot {
                background-color: yellow;
                color: black;
            }
        }

        .details1 {
            background-color: #f0f0ff;
            display: flex;
            padding: clamp(8px, 1.5vw, 13px);
            justify-content: space-between;
            color: grey;
            font-size: clamp(13px, 1.5vh, 15px);
            a {
                color: gray;
            }
        }

        .details2 {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            .title {
                font-weight: 500;
                font-size: clamp(16px, 1.5vw ,20px);
            }

            .price {
                color: gray;
            }

            .sp {
                font-size: clamp(16px, 1.5vw ,20px);
            }

            .mrp {
                color: gray;
                text-decoration: line-through;

            }
        }

        .container {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0px 10px;
            justify-content: space-between;

            .group1 {
                display: flex;
                gap: 5px;

                .quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ccc;

                    input {
                        width: clamp(15px, 1.5vw ,30px);
                        text-align: center;
                        border: none;
                        outline: none;
                    }

                    .quantity-buttons {
                        display: flex;
                        flex-direction: column;

                        button {
                            border: none;
                            background: rgb(225, 225, 225);
                            padding: 2px 5px;
                            cursor: pointer;
                            font-size: 10px
                        }
                    }
                }
                .cartIcon{
                    display: none;
                }
                .add-to-cart {
                    background-color: #004691;
                    color: white;
                    align-self: stretch;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 13px
                }
            }

            .wishlist-compare {
                display: flex;
                gap: 10px;

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 20px;
                    color: #888;
                }
            }
        }

        .footer-actions {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            background-color: #f0f0ff;
            margin-top: 15px;
            color: gray;
            padding: 10px;

            span {
                font-size: 14px;
                font-weight: 500;

                .fa-bitcoin {
                    color: green;
                    font-size: 15px
                }

                .fa-circle-question {
                    color: red;
                    font-size: 15px
                }
            }

            ;
        }
    }
}

@media (width < 600px) {
    .carousel-FeaturedItem > .card {
        font-size: clamp(10px, 2vw, 13px);
        img{
            height: clamp(200px, 50vw, 300px);
        }
    }
    .carousel-FeaturedItem > .card > .container > .group1 {
        .add-to-cart{
            display: none;
        }
        .cartIcon{
            display: block;
            background-color: #004691;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
    }
}

.see-all-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #006ce0;
    border-radius: 3px;
    border: none;
    color: white;
}

/* Featured Category */
.feature-category {
    max-width: 1600px;
    width: 100%;
    padding: 30px 0px;
    /* padding: 10px; */
    /* height: 50px; */

    .outer-container {
        display: flex;
        background-color: #d7dadf;
        align-content: stretch;
        width: 100%;
        overflow: hidden;

        .fixed {
            display: flex;
            flex-direction: column;
            padding: 20px;
            flex: 0 0 auto;

            span {
                font-size: 17px;
            }

            img {
                object-fit: cover;
                height: clamp(200px, 18vw, 300px);
                aspect-ratio: 1;
                padding: 10px 0px;
            }

            a {
                text-decoration: none;
                color: #686873;
                margin: 5px 0px;
            }

            .line-style {
                color: #004691;
                font-weight: bold;
                text-decoration: underline;

            }
        }

        .carousel-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 95%;
            background-color: white;
            overflow-x: auto;
            /* flex: 1 1 auto; */
            
            .carousel{
                margin-top: 0px;
            }

            .card {
                font-size: clamp(10px, 1vw, 13px);
                .container {
                    margin-bottom: 10px;
                    padding: 5px 10px;
                }
                img{
                    height: clamp(200px, 18vw, 300px);
                }
            }

            .add-to-cart {
                background-color: #004691;
                color: white;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                padding: 8px;
            }
        }
    }
}

@media (width < 700px) {
    .feature-category > .outer-container {
        flex-direction: column;
        .fixed > a{ 
            font-size: 11px;
        }
        .carousel-container{
            /* padding: 10px; */
            padding: 0px;
            width: 100%;
            /* border: 2px solid green; */
            overflow-x: none;
            span{
                margin: 10px;
                margin-bottom: 0px;
            }
            .separator{
                margin-left: 10px;
            }
        }
    }
}